intelligent cargo management system-nodered - Copy.txt
[{"id":"d7ddc310.11e47","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bff00e82.603f2","type":"function","z":"d7ddc310.11e47","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nglobal.set(\"temperature\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370.5,"y":169,"wires":[["efb47cae.93647","c05c35c8.2b91a8"]]},{"id":"1bb53e7.48853c2","type":"function","z":"d7ddc310.11e47","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nglobal.set(\"humidity\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":379.5,"y":277,"wires":[["efb47cae.93647","85ac41dd.2947b"]]},{"id":"eef611c9.7b165","type":"function","z":"d7ddc310.11e47","name":"air quality sensor","func":"msg.payload=msg.payload.d.airqulity\nglobal.set(\"airqualitysensor\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":427.5,"y":360,"wires":[["efb47cae.93647","fe7e6177.1df1"]]},{"id":"efb47cae.93647","type":"debug","z":"d7ddc310.11e47","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":684.5,"y":252,"wires":[]},{"id":"6b5eaaf2.f52a94","type":"ibmiot in","z":"d7ddc310.11e47","authentication":"apiKey","apiKey":"f600d024.79d4a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"asvr","applicationId":"","deviceType":"rupesh","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":92.5,"y":158,"wires":[["bff00e82.603f2","1bb53e7.48853c2","eef611c9.7b165","880eeae1.72abd8","ffb38603.2d92c8","269b6ede.31ffb2"]]},{"id":"880eeae1.72abd8","type":"cloudant out","z":"d7ddc310.11e47","name":"","cloudant":"","database":"rupesh","service":"Rupesh-cloudantNoSQLDB","payonly":false,"operation":"insert","x":108.5,"y":304,"wires":[]},{"id":"c05c35c8.2b91a8","type":"ui_gauge","z":"d7ddc310.11e47","name":"","group":"4290dbdf.77e7a4","order":12,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":658.5,"y":133,"wires":[]},{"id":"85ac41dd.2947b","type":"ui_gauge","z":"d7ddc310.11e47","name":"","group":"4290dbdf.77e7a4","order":13,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":727.5,"y":344,"wires":[]},{"id":"fe7e6177.1df1","type":"ui_gauge","z":"d7ddc310.11e47","name":"","group":"4290dbdf.77e7a4","order":14,"width":0,"height":0,"gtype":"gage","title":"airqualitysensor","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":744.5,"y":440,"wires":[]},{"id":"5f641889.773bb8","type":"http in","z":"d7ddc310.11e47","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":81.5,"y":79,"wires":[["f09440c6.215ca"]]},{"id":"f09440c6.215ca","type":"function","z":"d7ddc310.11e47","name":"data","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\"),\"airqualitysensor\":global.get(\"airqualitysensor\"),\"longitude\":global.get(\"longitude\"),\"latitude\":global.get(\"latitude\")}\nreturn msg;\n","outputs":1,"noerr":0,"x":295.5,"y":62,"wires":[["50ab768b.8b52c8"]]},{"id":"50ab768b.8b52c8","type":"http response","z":"d7ddc310.11e47","name":"","statusCode":"","headers":{},"x":470.5,"y":39,"wires":[]},{"id":"ffb38603.2d92c8","type":"function","z":"d7ddc310.11e47","name":"Longitude","func":"msg.payload=msg.payload.d.longitude\nglobal.set(\"longitude\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":387.5,"y":471,"wires":[["3b03ded1.55f4a2","efb47cae.93647"]]},{"id":"269b6ede.31ffb2","type":"function","z":"d7ddc310.11e47","name":"Latitude","func":"msg.payload=msg.payload.d.latitude\nglobal.set(\"latitude\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":392.5,"y":595,"wires":[["5bc40543.959a6c","efb47cae.93647"]]},{"id":"3b03ded1.55f4a2","type":"ui_gauge","z":"d7ddc310.11e47","name":"","group":"4290dbdf.77e7a4","order":15,"width":0,"height":0,"gtype":"gage","title":"Longitude","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650.5,"y":502,"wires":[]},{"id":"5bc40543.959a6c","type":"ui_gauge","z":"d7ddc310.11e47","name":"","group":"4290dbdf.77e7a4","order":16,"width":0,"height":0,"gtype":"gage","title":"Latitude","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":649.5,"y":594,"wires":[]},{"id":"f600d024.79d4a","type":"ibmiot","z":"","name":"Rupesh","keepalive":"60","serverName":"vsz0ie.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4290dbdf.77e7a4","type":"ui_group","z":"","name":"Rupesh","tab":"7493c722.1c89d8","disp":true,"width":"6","collapse":false},{"id":"7493c722.1c89d8","type":"ui_tab","z":"","name":"PuttaRupesh","icon":"dashboard","disabled":false,"hidden":false}]